#head-table {
    position: sticky;
    top: 0;
    background-color: #b3b3b3;
    height: max-content;
    z-index: 2;
}

.container-table {
    width: 800px;
    height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container-table::-webkit-scrollbar {
    width: 10px;
}

.container-table::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(151, 147, 147), rgb(66, 64, 64), rgb(151, 147, 147), rgb(151, 147, 147));
    border-radius: 20px;
    border: solid 1px white;
}

.container-table::-webkit-scrollbar-track {
    background-color: transparent;
}


table {
    width: 800px;
    border-collapse: collapse;
}

tbody {
    min-height: 50%;
}

tr,
th,
td {
    border: 1px solid #dddddd;
    padding-block: 1.5%;
    text-align: center;
    font-size: large;
}