* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#apk-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
}